@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

a,p {
  padding: 0;
  margin: 0;

}
.container {
  margin: 4rem;
}
